@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.event-data {
    text-align: center;
    font-size: 25pt;
}


.red-background {
    background-image: url(../../assets/images/pattern-red.gif);
    padding-top: 20px;
    margin-bottom: -1px;

    color: whitesmoke;
    /*font: 25pt 'Lobster Two', cursive;*/
    font-family: 'Caveat', cursive;
    line-height: 15pt;
    font-size: 20pt;
}

    .red-background p {
        font-size: 15pt;
    }

.santa-background p {
    font-size: 18pt;
}


.santa-background {
    background-image: url(../../assets/images/background-santa-claus.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /*height: 120px;*/

    position: relative;
    z-index: -100;
}

.santa-background div {
    color: whitesmoke;
    /*color: black;*/
    /*font-family: 'Lobster Two', cursive;*/
    /*font-family: 'Lobster';*/
    /*font-family: 'Bigelow Rules', cursive;*/
    /*font-family: 'Clicker Script', cursive;*/
    font-family: 'Caveat', cursive;

    position: relative;
    width: 50%;
    margin: 0 auto;
    /*border: 1px solid white;*/
}

.santa-background:before {
    content:"";
    display: block;
    margin-top: 26%;
}
/*http://jsfiddle.net/5gqdkpvc/26/*/


/* Small devices < 600px */
@media only screen and (max-width: 600px) {
    .santa-background h1 {
        font-size: 15pt;
    }
}

/* Large devices > 992px */
@media only screen and (min-width: 992px) {
    .santa-background h1 {
        font-size: 33pt;
    }
}