@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.event-data {
    text-align: center;
    font-size: 25pt;
}

.gift_block {
    padding: 0 5vw;
    background: white;
}


.red-background {
    background-image: url(../../assets/images/pattern-red.gif);
    padding-top: 20px;
    margin-bottom: -1px;

    color: whitesmoke;
    /*font: 25pt 'Lobster Two', cursive;*/
    font-family: 'Caveat', cursive;
    line-height: 15pt;
    font-size: 20pt;
}

    .red-background p {
        font-size: 18pt;
    }

.santa-background {
    background: url(../../assets/images/background-santa-claus.png) bottom center no-repeat,
                url(../../assets/images/pattern-red.gif) left top repeat;
    background-size: 100%, auto;

    padding-bottom: 80px;
    position: relative;
    z-index: -1;
    margin-bottom: -1px;
}

.santa-background div {
    color: whitesmoke;
    font-family: 'Caveat', cursive;
    /*font-size: 2pt;*/
    line-height: 16pt;

    position: relative;
    margin: 0 auto;
    /*border: 1px solid white;*/
}

.santa-background div h1 {
    font-size: 18pt;
}
.santa-background div p {
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid yellow;*/
    font-size: 16pt;
}

.santa-background:before {
    content:"";
    display: block;
    margin-top: 26%;
}
/*http://jsfiddle.net/5gqdkpvc/26/*/


/* Small devices < 600px */
@media only screen and (max-width: 600px) {
    .santa-background h1 {
        font-size: 15pt;
    }
}

/* Large devices > 992px */
@media only screen and (min-width: 992px) {
    .santa-background h1 {
        font-size: 33pt;
    }
}