/*@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap&subset=latin,latin-ext');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@0;1&display=swap&subset=latin,latin-ext');*/

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Lobster&family=Lobster+Two&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.main-container {
  padding: 20pt;
  width: 100%;

  /*background: url(../src/assets/images/top-bg.png),url(../src/assets/images/pattern-red.gif);*/
  /*background-repeat: no-repeat,repeat;*/
  /*background-position: center bottom,right bottom;*/
  /*padding: 20pt 20pt 216px*/
}

/*body {*/
/*  !*background: gray;*!*/
/*}*/

body {
  overflow-x: hidden;
}

.form_container {
  padding: 20px
}